#sonataProjectsWS {
	clear: both;
	display: block;
}

#sonataProjectsWS .project {
/* 	clear: both; */
	
	float: left;
	
    width: 250px;
    height: 250px;
    
    margin: 50px;
}

#sonataProjectsWS .project fieldset {
  padding: 5px 10px;
  margin: 0;
  border: 2px solid;
  min-width: 0;
  height: 100%;
  position: relative;
}

#sonataProjectsWS .project legend {
  width: inherit;
  padding: 0;
  font-size: 15px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 0px;
  margin-left: 10px;
}

#sonataProjectsWS svg polygon{
	fill: #999999;
}

#sonataProjectsWS .rated{
	position:absolute; 
	bottom:0;
}
